.about {
    width: 70%;
    margin: 0 auto 100px;
}
.about p { font-size: 20px; }

.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}
.section {
    width: 40%;
    min-width: 500px;
    text-align: left;
}
.section-header {
    text-align: center;
}
.section-item {
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid gray;
}
button.resume {
    margin-top: 10px;
    padding: 5px;
}
.focus {
    font-style: italic;
}
.makebig {
    font-weight: bold;
    font-size: 20px;
}
.blue {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
    width: 48%;
    
}
.blue p { padding: 20px 10px;}

@media only screen and (max-width: 600px) {
    .about {
        width: 90%;
    }
    .about p { font-size: 15px; }
    .section {
        width: 100%;
        min-width: unset;
        text-align: left;
    }
}