.App {
  background-color: var(--white);
  color: var(--black);
  text-align: center;
}

h1,h2,h3,h4, p { margin: 0; }
h1 { font-size: 50px; }
h2 { font-size: 40px; }
h3 { font-size: 35px; }
h4 { font-size: 25px; }

.hi { font-size: 75px; }
.bold { font-weight: bold; }
.highlightB {color: var(--blue);}
.highlightR {color: var(--red);}
.small { font-size: 17px; }

button {
  background-color: var(--blue);
  color: azure;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 20px;
}

.intro {
  background-image: linear-gradient(var(--blue), var(--blue), var(--blue2), var(--white));
  padding: 30vh 10px;
  color: var(--white);
}
.particle-wrapper {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65vh;
}
.particles {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  h1 { font-size: 40px; }
  h2 { font-size: 30px; }
  h3 { font-size: 25px; }
  h4 { font-size: 15px; }
  .hi { font-size: 65px; }
}